version: '3'
services:
  jupyter:
    image: "jupyter/datascience-notebook:latest"
    ports:
      - "8888:8888"
    volumes:
      - ./anaconda:/opt/anaconda
  db:
    image: "influxdb:latest"
    volumes:
      - ./data:/var/lib/influxdb
    ports:
      - "8085:8085"
  visualizer:
    image: "grafana/grafana:latest"
    volumes:
      - ./config:/var/lib/grafana
    ports:
      - "3000:3000"
